@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 14px;
  height: 100%;
}

html, body, #root {
  height: 100%;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.dashboard {
  background-color: #d29034;
  padding: 0 8px;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.list-wrapper {
  width: 272px;
  margin-top: 16px;
  margin: 0 4px;
}

.list-content {
  background-color: #ebecf0;
  height: auto;
  border-radius: 3px;
  /* padding: 4px; */
}

.list-heading {
  padding: 10px 8px;
  min-height: 20px;
  position: relative;
}

.list-header-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}